body {
    font-family: Tahoma;
    font-size: 12pt;
    margin: 1in;
    background-color: lightgray;
    line-height: 1.8;
    text-align: justify;
}

header {
    text-align: center;
    background-color: darkblue;
    padding: 30px;
    margin-bottom: 20px;
}

h1 {
    font-family: Georgia;
    font-size: 24pt;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    color: navy;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.section-teenage {
    background-color: white;
}

.section-college {
    background-color: white;
}

p {
    text-indent: 0.5in;
    line-height: 2;
}

sup {
    color: blue;
    font-weight: bold;
}


b, strong {
    color: darkred;
}

i, em {
    color: white;
}

u {
    color: green;
}

big {
    font-size: 14pt;
}

small {
    font-size: 10pt;
}

code {
    background-color: yellow;
    padding: 2px;
    font-family: Courier;
}

cite {
    font-style: italic;
    color: brown;
}


abbr {
    text-decoration: underline;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    text-indent: 0;
}